.alert {
  background-color: black;
  color: white;
}
.window {
  background-color: black;
  color: white;
}
.headr {
  background-color: grey;
  color: white;
}
button {
  background-color: #464444;
  color: white;
  border: 1px solid white;
}
button:hover {
  background-color: #575757;
}